.movie-short-description{
    border:1px solid red;
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin-bottom:5%;
    background-color: #efe2ba;
}

h3{
    font-size:20px;
    color:Black;
}

.style-name{
    display:flex;
    justify-content: center;
}

.style-rating{
    display:flex;
    justify-content: center;
    margin-top:-7%;
}

.rating{
    color:black;
}

h4{
    font-size:17px;
    color:darkgreen;
}

.remove-button{
    display:flex;
    justify-content: center;
    position: relative;
    top:-10px
}

.delete-button{
    padding:5px 10px 5px 10px;
    font-size: 17px;
    background-color: rgb(227, 40, 40);
    color: whitesmoke;
    cursor : pointer
}