.descp-image{
    display:flex;
    justify-content:center;
    margin-top:3%;
}

.whole-description{
    display:flex;
    justify-content:center;
    margin-top:3%;
}

.movie-description{
    border:1px solid blue;
    width:80%;
    background-color: #efe2ba;
    border-radius:3px;
}

.values{
    font-size:17px;
    font-weight:bold;
}

.atwl-button{
    display:flex;
    justify-content: center;
    margin-top:3%;
    margin-bottom:2%;
    cursor:pointer;
}